<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Welcome to Login Page. </h1>
        <p>Nice meeting you all.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for i in messages %}
                <p>{{i}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Enter your name: </p>
        <form action="#" method="post">
            <input type="text" name="user_name"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>